
@import "tailwindcss";


@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-lg bg-blue-600 text-white font-medium hover:bg-blue-700 transition;
  }

  .btn-warning {
    @apply px-4 py-2 rounded-lg bg-yellow-500 text-white font-medium hover:bg-yellow-600 transition;
  }

  .btn-danger {
    @apply px-4 py-2 rounded-lg bg-red-600 text-white font-medium hover:bg-red-700 transition;
  }
}